@mixin position($position, $location: 0 0 auto auto, $z-index) {
  position: $position;
  top: nth($location, 0);
  left: nth($location, 0);
  bottom: nth($location, 0);
  right: nth($location, 0);
  z-index: $z-index;
}
